.about-header {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
  margin-top: 10vh;
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
  border-radius: 20px 40px;
  padding: 1rem;
  box-shadow: 0px 0px 15px 5px rgb(64, 145, 238);
}
.about-header h1 {
  will-change: transform;
  font-family: "Press Start 2P", cursive;
  transform: translateX(-1000%);
  color: var(--main-text-colour);
  font-size: 1rem;
  margin-bottom: 1rem;
  animation: slideInLeft 1s forwards;
  animation-delay: 1.1s;
}
.about-header p {
  position: relative;
  transform: translateX(1000%);
  font-size: 1rem;
  color: var(--main-text-colour);
  animation: slideIn 1s forwards;
  animation-delay: 1.1s;
}
.more-chevron {
  opacity: 0.4;
  position: absolute;
  color: var(--main-text-colour);
  transform: translateX(-70px) translateY(10px);
}
.more-chevron:hover {
  opacity: 1;
  transition: 0.3s;
}
.profile-pic {
  margin-top: -20px;
  height: 270px;
  width: 270px;
  transform: translateX(150px);
}
.profile-pic img {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.arrow_left {
  transform: translateY(-6px);
  color: var(--main-text-colour);
  display: inline-flex;
}
.arrow_left i {
  margin-right: 10px;
}
.arrow_right {
  transform: translateY(-6px);
  color: var(--main-text-colour);
  display: inline-flex;
}
.arrow_right i {
  margin-left: 10px;
}
.about {
  position: absolute;
  top: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(127, 255, 212, 0.822);
  height: 600px;
  width: 100vw;
  padding: 10px;
  box-shadow: 0px 0px 50px 3px rgb(127, 168, 255);
}
.about p {
  padding: 10px 80px;
}
.about:hover {
  background-color: rgba(80, 255, 197, 0.9);
  transition: 0.3s;
}
.about a {
  text-decoration: none;
}

.about div {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.about img {
  height: 270px;
  width: 360px;
  border-radius: 5px;
}
