.eve-timer {
    background-color: rgb(208, 248, 253);
    position: relative;
    border-radius: 5px;
}
#countdown-title {
    margin-top: 15%;
    font-weight: 400;
    text-align: center;
    background-color: rgb(225, 255, 221);
  }
  .js-clock {
      margin-top: 10%;
    text-align: center;
    background-color: rgb(225, 255, 221);
  }