#nav-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 2.5rem;
  color: var(--main-text-colour);
  position: absolute;
  padding: 10px;
}
.header__welcome {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 200;
  color: rgb(118, 197, 0);
  border: 2px solid var(--main-text-colour);
  border-radius: 10px;
}
.header__welcome:hover {
  transform: scale(104%);
  transition: 0.1s;
}

.nav-bar span,
.nav-bar i {
  padding: 5px 1px;
  color: var(--main-text-colour);
}
.nav-bar a {
  text-decoration: none;
}

#scroll {
  text-decoration: none;
  color: var(--main-text-colour);
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100vw;
  position: absolute;
  z-index: 5;
  top: 150vh;
}
