@import "CSS/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "variables.css";
/* components */
@import "CSS/nav-bar.css";
@import "CSS/scrollbar.css";

/* screens */
@import "CSS/home.css";

html {
  scroll-behavior: smooth;
}
body {
  height: 200vh;
  background-color: rgba(94, 171, 238, 0.473);
}
