:root {
  --main-text-colour: rgb(62, 230, 190);
  --text-colour-two: rgb(245, 245, 245);
  --green: rgb(118, 197, 0);
  /* --purple-color: rgba(137, 43, 226, 0.795); */
  --purple-color: rgba(98, 249, 214, 0.575);
  --dark-color: rgb(10, 25, 47);
  --dark-purple: rgba(165, 127, 255, 0.247);
  --gradient: linear-gradient(
    90deg,
    rgb(10, 25, 47),
    purple,
    rgb(220, 253, 255)
  );
}
